*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body 
{
   
    height: 100%;
    width: 100%; 
    background: black;
    font-family: sans-serif;
    overflow: hidden;
    animation: transitionIn 1s;
}

#mobility{
    display: none;
}

@keyframes transitionIn
{
  from {
    opacity: 0.2;
    transform: rotateX(-10px);
  }

  to {
    opacity: 1;
    transform: rotateX(0px);
  }
}


#secBag
{
    opacity: 0;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    transition: 1s;
    background: radial-gradient(
        rgba(80, 11, 2, 0.0),
        rgba(80, 11, 2, 0.8)
    );
}

.pointer
{
    pointer-events: auto;
}

.noPointer
{
    pointer-events:none;
}

#theart
{
    user-select: none;
    cursor: pointer;
    font-size: 8em;
    position: absolute;
    top: 5%;
    left: 2%;
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
    color: rgb(109, 13, 1);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(15, 15, 15);
    text-align: center;
} 

#back 
{
    user-select: none;
    cursor: pointer;
    font-size: 3em;
    position: absolute;
    bottom: 5%;
    left: 2%;
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
    color: rgb(109, 13, 1);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(15, 15, 15);
    text-align: center;
    text-decoration: none;

}

@font-face
{

    font-family: Buffied;
    src: url(Buffied.ttf);
}


    #theartist
    {
        user-select: none;
        cursor: pointer;
        position: absolute;
        bottom: 10%;
        right:0%;
        font-size: 9em;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(109, 13, 1);
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgb(15, 15, 15);
        z-index: 2;
        width: 4em;
        max-width: fit-content!important;
        text-align: center;    
    } 

    #theartist2
    {
        user-select: none;
        cursor: pointer;
        position: absolute; 
        font-size: 9em;
          font-family: 'Times New Roman', Times, serif;
        color: rgb(109, 13, 1);
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgb(15, 15, 15);
        z-index: 2;
        width: 4em;
        text-align: center;
        display: none;
    } 

    #kristis
{
    position: absolute;
    top:10%;
    height: 750px;
    width: 550px;
    left: 33%;
    cursor: pointer!important;
    z-index: 2;
    visibility: hidden;
}


#kris
{
    position: absolute;
    height: 750px;
    width: 550px;
    background-image: url("img/kris.jpg");
    background-size: cover; 
    opacity: 0;
    transition: 1s linear;
    cursor: pointer!important;
    z-index: -2;
}

#kris2
{
    
    position: absolute;
    visibility: hidden;
    height: 750px;
    width: 550px;
    background-image: url("img/kris2.jpg");
    background-size: cover; 
    opacity: 0;
    transition: 1s linear;
    cursor: pointer;
    z-index: -2;
    filter: grayscale(100%);
}


#bgBox{

    height: 100%;
    width: 50%;
    position: fixed;
    left: 0;
    z-index: -1;

    #bg
{
    background-image: url(img/meaning.jpg);
    height: 100%;
    width: 100%;  
    background-size: 100% 120%;
    background-repeat: no-repeat;
    animation: kenburns 60s linear infinite alternate;
    position: absolute;
    z-index: -1;
    
}

}

#bgBox2{

    height: 100%;
    width: 50%;
    position: fixed;
    right: 0;
    z-index: -1;

#bg2
{
    background-image: url(img/meaning.jpg);
    height: 100%;
    width: 100%;  
    background-size: 100% 120%;
    background-repeat: no-repeat;
    animation: kenburns 60s linear infinite alternate;
    transform: scaleX(-1);    
    position: absolute;
    // z-index: -1;
    
}
}



@keyframes kenburns {
     from {

        background-size: 100% 120%;

     }

     to {

        background-size: 140% 120%;
     }
}



.leftSide 
{    
    background-size: cover;
    padding: 8rem 0 0;
    width: 300px;
    height: 200px; 
    border-radius: 0.5rem;
    transition: transform 1000ms ease;
    transition:1s ease;
    position: absolute;
    left: 30%;
    perspective: 1000px;
    cursor: pointer;

    h2 
    {
        user-select: none;
        margin-bottom: 1rem;
    }

    p 
    {
        user-select: none;
    }
 
}

.rightSide 
{    
    background-size: cover;
    padding: 8rem 0 0;
    width: 300px;
    height: 200px;
    border-radius: 0.5rem;
    transition: transform 1000ms ease;
    transition:1s ease;
    perspective: 1000px;
    right:33%;
    margin: 0;
    cursor: pointer;

    h2 
    {
        user-select: none;
        margin-bottom: 1rem;
    }

    p 
    {
        user-select: none;
    }
 
}


.holder{

    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}




#craim
{
    
    transition: 1s;
    transform: 1s;
    transform-style: preserve-3d;
    position: absolute;  
    width: 300px;
    height: 200px;
    z-index: 5;
    top: -30%;
    transform-origin: inherit;  

}
    
#craimFront
{
    background-image: url(img/Crimes.jpg);
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: 50% 10%;
    border: 2px solid rgb(109, 13, 1);
    border-radius: 0.5rem;
    transform: rotateY(180deg);
    z-index: 4;
    color: ivory;
    -webkit-text-stroke: 1px rgb(109, 13, 1);
}

#craimFront, #craimBack {

    position: absolute;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}



#craim:hover .holder{

    transform: rotateY(180deg);    
}

.noRotate
{
    transform: rotateY(180deg);    

}



#spidey
{

    transition: 1.5s;
    transform-style: preserve-3d;
    position: absolute;  
    width: 300px;
    height: 200px;
    z-index: 5;
    top: -50%;  

}

    #spideyFront
{
    background-image: url(img/spidey.jpg);
    width: 300px;
    height: 200px;
    background-size: 150% 130%;
    background-position: 60% 80%;
    border: 2px solid rgb(109, 13, 1);
    border-radius: 0.5rem;
    transform: rotateY(180deg);
    z-index: 4;
    color: ivory;
    -webkit-text-stroke: 1px rgb(109, 13, 1);
}


#spideyFront, #spideyBack {

    position: absolute;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}


#spidey:hover .holder{

    transform: rotateY(180deg);    
}

#dalia
{


    transition: 2s;
    transform-style: preserve-3d;
    position: absolute;  
    width: 300px;
    height: 200px;
    z-index: 5;
    top: -70%;  

}
    
#daliaFront
{
    background-image: url(img/dalia.jpg);
    background-size: 100% 150%;
    background-position: 50% 30%;
    width: 300px;
    height: 200px;
    border: 2px solid rgb(109, 13, 1);
    border-radius: 0.5rem;
    transform: rotateY(180deg);
    z-index: 4;
    position: absolute;
    color: ivory;
    -webkit-text-stroke: 1px rgb(109, 13, 1);

}

#daliaFront, #daliaBack {

    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    position: absolute;
}



#dalia:hover .holder{

    transform: rotateY(180deg);    
}



#justbe
{
    transition:1s;
    transform: 1s;
    transform-style: preserve-3d;
    width: 300px;
    height: 200px;
    position: absolute;  
    bottom: -30%;  
    z-index: 5;

}


    
#justbeFront
{

    background-image: url(img/justbe.jpg);
    background-size: 110% 150%;
    background-position: 50% 30%;
    width: 300px;
    height: 200px;
    position: absolute;  
    border: 2px solid rgb(109, 13, 1);
    border-radius: 0.5rem;
    transform: rotateY(180deg);
    z-index: 4;
    color: ivory;
    -webkit-text-stroke: 1px rgb(109, 13, 1);


}

#justbeFront, #justbeBack {

    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    position: absolute;
}


#justbe:hover .holder{

    transform: rotateY(180deg);    
}

#lovebirds
{

    transition:1.5s;
    transform-style: preserve-3d;
    width: 300px;
    height: 200px;
    position: absolute;  
    bottom: -70%;  
    z-index: 5;

}
    
#lovebirdsFront
{

    background-image: url(img/love.jpg);
    background-size: 100% 150%;
    background-position: 50% 30%;
    width: 300px;
    height: 200px;
    transition: 1.5s ease;
    position: absolute;  
    border: 2px solid rgb(109, 13, 1);
    border-radius: 0.5rem;
    transform: rotateY(180deg);
    z-index: 4;
    color: ivory;
    -webkit-text-stroke: 1px rgb(109, 13, 1);
}


#lovebirdsFront, #lovebirdsBack {

    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    position: absolute;
}

#lovebirds:hover .holder{

    transform: rotateY(180deg);    
}

#sonya
{
    
    transition:2s;
    transform-style: preserve-3d;
    width: 300px;
    height: 200px;
    position: absolute;  
    bottom: -100%;  
    z-index: 5;  

}

#sonyaFront
{

    background-image: url(img/sonya.jpg);
    background-size: 100% 150%;
    background-position: 50% 30%;
    width: 300px;
    height: 200px;
    border: 2px solid rgb(109, 13, 1);
    border-radius: 0.5rem;
    transform: rotateY(180deg);
    z-index: 4;
    color: ivory;
    -webkit-text-stroke: 1px rgb(109, 13, 1);
}

#sonyaFront, #sonyaBack {

    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    position: absolute;
}

#sonya:hover .holder{

    transform: rotateY(180deg);    
}

.card-content
{
    color: ivory;
    --padding: 1.5rem;
    padding:var(--padding);  
    position: absolute; 
    border: 2px solid black;
    bottom: 0;
    width: 100%;      
    background: linear-gradient(
        rgba(80, 11, 2, 0.0),
        rgba(80, 11, 2, 0.8)
    );
}

.card-content-back 
{
    --padding: 1.5rem;
    padding:var(--padding);  
    border: 2px solid rgb(109, 13, 1);
    bottom: 0;
    width: 300px;
    height: 200px;    
    background-color: rgb(15, 15, 15);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Buffied;
    color: rgb(109, 13, 1);
    font-size: 5rem;
    position: absolute;
    z-index: 2;
}

.cardDescription {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

.card-title
{
    position: relative;
    width: max-content;  
}

.card-title::after
{
    content: "";
    position: absolute;
    height: 3px;
    width: calc(100% + 5% +var(--padding));
    background-color: rgb(109, 13, 1);
    left: calc(var(--padding) * -1);
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;    
}

@media screen and (min-width:1601px) and (max-width:1800px) {

    #theart
    {
        font-size: 6em;
    } 

    #theartist
    {
        font-size: 6em;
    } 
}

@media screen and (min-width:1401px) and (max-width:1600px) {

    #theart
    {
        font-size: 6em;
    } 

    #theartist
    {
        font-size: 6em;
        right: -4%;
    } 

    .rightSide 
{    
    right:25%;
}
}

@media screen and (min-width:961px) and (max-width:1400px) {

    #theart
    {
        font-size: 5em;
        top: 2%;
        left: 0%;
        width: 5ch;

    } 

    #theartist
    {

        bottom: 5%;
        right: -1%;
        font-size: 4em;
        width: 10ch;
    } 

    .leftSide 
    {    
        left:22%;
    }

    .rightSide 
    {    
        right:26%;
    }

    .card-content-back, #sonyaFront, #sonyaBack, #sonya, #lovebirds, #lovebirdsFront,
    #lovebirdsBack, .card-content,
    #justbe, #justbeFront, #dalia, #daliaFront, #spidey, #spideyFront, #craim,
    #craimFront, .leftSide, .rightSide
    {
        width: 250px;
        height: 175px;   
    }



    body 
{
   
    height: 100%;
    width: 100%; 
    overflow: hidden;

}

#kristis
{
    position: absolute;
    top:5%;
    height: 550px;
    width: 400px;
    left: 25vw;
}



    #kris
{

    height: 550px;
    width: 400px;

}

#kris2
{
    height: 550px;
    width: 400px;
}


}

@media screen and (min-width:768px) and (max-width:960px) {

    body 
    {
       
        height: 100%;
        width: 99%; 
        overflow: hidden;    
    }
    

    #theart
    {
        font-size: 6rem;
        top: 5%;
        left: 3%;
        width: 5ch;
        height: auto;
    } 

    #theartist
    {
        font-size: 6rem;
        width: 5ch;
        height: auto;
        top: 105%;
        right: -25%;
        position: absolute;
    } 
      
    
 

    #back {
        left: 5%;
        top: 115%;
        position: absolute;
    }

    .leftSide 
    {    
        left:30%;  
        top: -150%;
    }

    .rightSide 
    {    
        right:-5%;
    }

    #craim
    {
        top: -40%;
    }

    // .card-content-back, #sonyaFront, #sonyaBack, #sonya, #lovebirds, #lovebirdsFront,
    // #lovebirdsBack, .card-content,
    // #justbe, #justbeFront, #dalia, #daliaFront, #spidey, #spideyFront, #craim,
    // #craimFront, .leftSide, .rightSide
    // {
    //     width: 250px;
    //     height: 180px;   
    // }

    #kristis
{
    position: absolute;
    top:5%;
    height: 550px;
    width: 400px;
    left: 32vw;
}

    #kris
{

    height: 550px;
    width: 400px;

}

#kris2
{
    height: 550px;
    width: 400px;
}

}

// @media screen and (max-width:768px) and (min-width:501px) {

//     body 
//     {
       
//         height: 100%;
//         width: 100%; 
//         overflow: auto;  
//         }

//         #back {
//             right: 3%;
//         }
    

//     #theart
//     {  
//         display: none;
//     } 

//     #theartist
//     {

//         display: none;
  
//     } 

//     #theartist2
//     {

//         top: 2%;
//         left: 12%;
//         font-size: 4rem;  
//         margin: 0;   
//         width: 15ch;
//         height:fit-content;
//         display: block;
  
//     } 

//     .leftSide 
//     {    
//         left: 5%;
//     }

//     .rightSide 
//     {    
//         right: 18%;
//         }

//         #back {
//             bottom: 15%;
//         }

//     .card-content-back, #sonyaFront, #sonyaBack, #sonya, #lovebirds, #lovebirdsFront,
//     #lovebirdsBack, .card-content,
//     #justbe, #justbeFront, #dalia, #daliaFront, #spidey, #spideyFront, #craim,
//     #craimFront, .leftSide, .rightSide
//     {
//         width: 225px;
//         height: 160px;   
//     }


//     #craim{

//         top: 20%;

//     }

//     #dalia
//     {

//         top: 60%;


//     }

//     #spidey{
//         top: 40%;

//     }

//     #justbe {

//         top: 20%;

//     }

//     #lovebirds{

//         top: 40%;

//     }

//     #sonya {

//         top: 60%;


//     }

//     .card-content-back 
// {
//     --padding: 1.5rem;
//     padding:var(--padding);  
//     border: 2px solid rgb(109, 13, 1);
//     bottom: 0;
//     width: 225px;
//     height: 160px;     
//     background-color: rgb(15, 15, 15);
//     border-radius: 0.5rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-family: Buffied;
//     color: rgb(109, 13, 1);
//     font-size: 4rem;
//     position: absolute;
//     z-index: 2;
// }

// #kristis
// {

//     top:5%;
//     height: 550px;
//     width: 400px;
//     left: 25vw;
// }

//     #kris
// {

//     height: 550px;
//     width: 400px;

// }

// #kris2
// {

//     height: 550px;
//     width: 400px;

// }

// }

@media screen and (max-width:767px) and (min-width:514px) {

    body 
{
   

    overflow: auto; 
    height: 100%;
    width: 100%;    
}



        #mobility
        {

            display: flex;
            flex-wrap: wrap;
            height: 100%;
            width: 100vw;         
            flex-direction: row; 
            align-items: center;
            justify-content: center;
            position: absolute;
            text-align: center;
        } 

        #craim, #dalia, #spidey, #justbe, #lovebirds, #sonya
        {

            position: static!important;   
            margin: 1em;
                    
        }

        #thedeck {
            display: flex;
            height: 70%;
            width: 100vw; 
            flex-wrap: wrap;
            flex-direction: row; 
            align-items: center;
            justify-content: center;
            align-self: center; 
            margin-bottom: 5vh;  

        }



        // #main {
        //     display: none;
        // }
    

    #theart
    {  
        display: none;
    } 

    #theartist
    {

        display: none;
  
    } 

    #theartist2
    {

        font-size: 4rem;  
        position: absolute;
        text-align: center;
        height: fit-content;  
        width: 20ch;
        top: 3%;   
        display: block;   

        p {
            text-align: center;    
        }
  
    } 
 

        #back {
            bottom: 1%;
            font-size: 1.4em;
            color: rgb(189, 30, 9);
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgb(15, 15, 15);
        }

    .card-content-back, #sonyaFront, #sonyaBack, #sonya, #lovebirds, #lovebirdsFront,
    #lovebirdsBack, .card-content,
    #justbe, #justbeFront, #dalia, #daliaFront, #spidey, #spideyFront, #craim,
    #craimFront, .leftSide, .rightSide
    {
        width: 225px;
        height: 160px;   
    }


    .card-content-back 
{
    --padding: 1.5rem;
    padding:var(--padding);  
    border: 2px solid rgb(109, 13, 1);
    bottom: 0;
    width: 225px;
    height: 160px;     
    background-color: rgb(15, 15, 15);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Buffied;
    color: rgb(109, 13, 1);
    font-size: 4rem;
    position: absolute;
    z-index: 2;
}

#kristis
{

    top:5%;
    height: 550px;
    width: 400px;
    left: 25vw;
}

    #kris
{

    height: 550px;
    width: 400px;

}

#kris2
{

    height: 550px;
    width: 400px;

}

}

@media screen and (max-width:450px) and (min-width:286px) {

    body 
{
   

    overflow: auto; 
    height: 100%;
    width: 100%;  
    display: flex;   

}
        #main
        {

            display: flex;
            flex-wrap: wrap;
            height: 100%;
            width: 100vw;         
            flex-direction: row; 
            align-items: center;
            justify-content: center;
             text-align: center;
             position: absolute;
             left: 15%;
        } 

        #craim, #dalia, #spidey, #justbe, #lovebirds, #sonya
        {

            position: static!important;   
            margin: 1em;
                    
        }

        #thedeck {
            display: flex;
            height: 70%;
            width: 100vw; 
            flex-wrap: wrap;
            flex-direction: row; 
            align-items: center;
            justify-content: center;
            align-self: center; 
            margin-bottom: 5vh;  

        }  
    

    #theart
    {  
        display: none;
    } 

    #theartist
    {

        display: none;
  
    } 

    #theartist2
    {

        font-size: 4rem;  
        position: absolute;
        text-align: center;
        height: fit-content;  
        width: 20ch;
        top: 3%;   
        display: block;   

        p {
            text-align: center;    
        }
  
    } 
 

        #back {
            bottom: 1%;
            font-size: 1.4em;
            color: rgb(189, 30, 9);
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgb(15, 15, 15);
        }

    .card-content-back, #sonyaFront, #sonyaBack, #sonya, #lovebirds, #lovebirdsFront,
    #lovebirdsBack, .card-content,
    #justbe, #justbeFront, #dalia, #daliaFront, #spidey, #spideyFront, #craim,
    #craimFront, .leftSide, .rightSide
    {
        width: 200px;
        height: 150px;   
    }


    .card-content-back 
{
    --padding: 1.5rem;
    padding:var(--padding);  
    border: 2px solid rgb(109, 13, 1);
    bottom: 0; 
    background-color: rgb(15, 15, 15);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(109, 13, 1);
    font-size: 4rem;
    position: absolute;
    z-index: 2;
}

#kristis
{

    top:15%;
    height: 450px;
    width: 300px;
}

    #kris
{

    height: 450px;
    width: 300px;
    right: 18vw;
    z-index: 10;

}

#kris2
{

    height: 450px;
    width: 300px;
    right: 18vw;
    z-index: 10;

}

}

@media screen and (max-width:285px) {

    body{
        background-color: black;
    }
#main{

    display: none;
    
}
}


